.messageBox {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.4) 100%);

   backdrop-filter: blur(48px);
}

.chainContainer {
   height: calc(100vh - 190px);
   overflow: scroll;
   scroll-behavior: smooth;
   padding-bottom: 50px;
   position: relative;
}

.chainContainer::-webkit-scrollbar {
   /* WebKit */
   width: 0;
   height: 0;
}

.messageText {
   font-family: 'Satoshi Variable';
   font-feature-settings: 'salt' on;
   color: rgba(0, 0, 0, 0.8);
}

.lastImageButton {
   border: 1px solid rgba(255, 255, 255, 0.2);
   background: rgba(255, 255, 255, 0.64);
   box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.2), 0px 16px 24px rgba(0, 0, 0, 0.16);
   backdrop-filter: blur(60px);
   color: rgba(0, 0, 0, 0.6);
   font-weight: 700;
   font-size: 16px;
   line-height: 160%;
   width: 163px;
   height: 40px;
   cursor: pointer;
   opacity: 0;
}

.bottomButton {
   border: 1px solid rgba(255, 255, 255, 0.2);
   background: rgba(255, 255, 255, 0.64);
   box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.2), 0px 16px 24px rgba(0, 0, 0, 0.16);
   backdrop-filter: blur(60px);
   color: rgba(0, 0, 0, 0.6);
   font-weight: 700;
   font-size: 16px;
   line-height: 160%;
   width: 163px;
   height: 40px;
   cursor: pointer;
   opacity: 0;
}

.timerText {
   font-family: 'Space Mono';
}

.tooltip {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 12px;
   gap: 16px;
   position: relative;
   width: 343px;
   height: 120px;
   background: rgba(19, 9, 36, 0.5);
   backdrop-filter: blur(12px);
   border-radius: 24px;
}

.viewOnLensContainer {
   transition: left 0.5s;
   /* left: 0; */
}

.viewOnLensContainer:hover .viewOnLens {
   display: block !important;
}

.viewOnLensContainer .viewOnLens {
   display: none;
}