.pageWrapper {
  height: calc(100vh - 40px);
  margin: 20px;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 60px auto 80px;

  background: rgba(255, 255, 255, 0.56);
  backdrop-filter: blur(60px);
  border-radius: 20px;
}

.componentWrapper {
  overflow: hidden;
  position: inherit;
  width: 100%;
  padding: 0 20px;
}