.MessageBox {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0.4) 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    position: relative;
    border-radius: 48px;
    box-sizing: border-box;
}

.Message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.ImageDiv {
    background: rgb(255, 255, 255);
}

.ImageDivText {
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
}