.FollowBtn{
    font-family: 'Satoshi Variable';
        line-height: 160%;
        font-feature-settings: 'salt' on;
}

.backdrop{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
}

.name{
    letter-spacing: -0.01em;    
    font-family: 'Satoshi Variable';
    font-feature-settings: 'tnum' on, 'onum' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
}

.bottomBox{
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.bottomBoxText{
    font-family: 'Satoshi Variable';
    letter-spacing: -0.03em;
}

.Handle{
    letter-spacing: -0.03em;
    font-family: 'Satoshi Variable';
    font-feature-settings: 'tnum' on, 'onum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
}
.viewOnLensBtn{
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    cursor: pointer;
}

