.FollowBtn{
    font-family: 'Satoshi Variable';
        line-height: 160%;
        font-feature-settings: 'salt' on;
        color: rgba(0, 0, 0, 0.6);
}
.viewOnLensBtn{
    background: rgba(255, 255, 255, 0.2);  
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #6F1AFF;
}
