.FollowBtn {
    font-family: 'Satoshi Variable';
    line-height: 160%;
    font-feature-settings: 'salt' on;
}

.backdrop {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 100%);
}

.name {
    letter-spacing: -0.01em;
    font-family: 'Satoshi Variable';
    font-feature-settings: 'tnum' on, 'onum' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
}

.bottomBox {
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.bottomBox:hover {
    background: rgba(255, 255, 255, 0.2);
}

.bottomBoxText {
    font-family: 'Satoshi Variable';
    letter-spacing: -0.03em;
}

.Handle {
    letter-spacing: -0.03em;
    font-family: 'Satoshi Variable';
    font-feature-settings: 'tnum' on, 'onum' on, 'ordn' on, 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
}

.viewOnLensBtn {
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    cursor: pointer;
}

.viewOnLensBtn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.collectedBtn{
    background: rgba(255, 255, 255, 0.56);
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #000000;
}

.collectModal{
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-feature-settings: 'salt' on;
    left: calc(50% - 464px/2);
    top: calc(50% - 256px/2);
    background: rgba(255, 255, 255, 0.6);
}

.collectInfo{
    color: rgba(0, 0, 0, 0.6);
}

.collectAmount{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.totalCollector{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.8);
}

.Buttonbg {
    background: radial-gradient(107.14% 107.14% at 50% 80.95%, #6F1AFF 0%, #C6A4FF 100%);
    box-shadow: 0px 8px 32px rgba(111, 26, 255, 0.32), inset 0px -4px 8px rgba(185, 143, 255, 0.6), inset 0px -8px 16px #4700C0;
}

.Buttonbg:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(107.14% 107.14% at 50% 80.95%, #6F1AFF 0%, #C6A4FF 100%);
    box-shadow: 0px 8px 32px rgba(111, 26, 255, 0.32), inset 0px -4px 8px rgba(185, 143, 255, 0.6), inset 0px -8px 16px #4700C0;
}

.ButtonText {
    font-family: 'Satoshi Variable';
    font-feature-settings: 'salt' on;
}